<!DOCTYPE html>
<html>

<head>
	<title>SUPA CI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
body {
	background: #fff;
}
	</style>
</head>

<body>
	<header>
		<h1>CI build history</h1>
	</header>
	<hr/>
	<main>
		<pre id="contents">
<% for(var i = 0; i<directories.length; i++){ %>
<a href="localhost:3000/log?sha=<%- directories[i] %>/" title="<%- directories[i] %>/"><%- directories[i] %></a>
<% } %>
		</pre>
	</main>
	<hr/>
</body>

</html>