<!DOCTYPE html>
<html>

<head>
	<title>SUPA CI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
body {
	background: #fff;
}
	</style>
</head>

<body>
	<header>
		<h1>Log</h1>
	</header>
	<hr/>
	<main>
		<div id="contents">
<% for(var key in log){ %>
<h2> <%= key%> </h2>
<%= JSON.stringify(log[key]) %> <br> 
<% } %>
		</div>
	</main>
	<hr/>
</body>

</html>